.sub_top{width:100%; height:0; position:relative;}
.sub_text{font-size:25px; margin-top:5px; display:block;}
.sub_top .top_text{width:1200px;margin:0px auto;font-size:40px;font-weight:800; color:#fff;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.sub_text strong{font-weight:700;}
.sub_top.cs{width:100%; height:0; background:url('../img/sub/cs_top.jpg'); background-size:100%; padding-top:calc(208 / 2000 * 100%);}
.sub_content{width:1200px; margin:0px auto 85px;}
.sub_content .pr_title{height:45px;margin: 75px 0px 30px;color:#000; border-bottom:1px solid #000; font-size:1.8rem;font-weight:600;}

.cstop{overflow:hidden; margin-bottom:35px;}
.cs_page_list{display: flex; width:1200px;}
.cs_page_list li{flex-grow:1; position:relative;}
.cs_page_list li a{display:block; text-align:center; height:60px; line-height:60px; padding-left:20px; border:1px solid #e4e4e4; border-right:none;}
.cs_page_list li:last-child a{ border-right:1px solid #e4e4e4;}
.cs_page_list li.list:before{content:""; width:50px; height:40px; position: absolute; top:12px; left:69px; background:url("../img/sub/cs_icon.png")no-repeat; }
.cs_page_list li.list.on a{color:#f82c34; border:1px solid #f82c34}
.cs_page_list li.list:before{background-position:13px -71px;}
.cs_page_list li.list.on:before{background-position:13px -2px;}
.cs_page_list li.list.faq:before{background-position:-164px -67px;}
.cs_page_list li.list.faq.on:before{ background-position: -164px 4px;}
.cs_page_list li.list.qna:before{background-position:-338px -70px;}
.cs_page_list li.list.qna.on:before{background-position:-338px 0px; }
.cs_page_list li.list.remote:before{background-position:-493px -69px;}
.cs_page_list li.list.remote.on:before{background-position:-402px -90px; }

.cs_table{width:1200px; cursor: default; color:#000; table-layout:fixed; border-top: 1px solid;}
.cs_table tr.table_header{border-bottom:1px solid #000;}
.cs_table tr th{height:60px; line-height:60px; font-weight:700;}
.cs_table tr.table_content{line-height:60px; height:60px; border-bottom: 1px solid #d9d9d9; text-align: center;}

.cs_table tr.table_content .lecture_name{text-align:left; text-overflow: ellipsis;overflow: hidden; white-space: nowrap;}
.cs_table tr.table_content .lecture_name a:hover{color:#f82c34; }
.cs_table tr.table_content .coupon_name{text-align:left; padding-left:30px;}

.top_search_ul{float:right; overflow:hidden; height:65px; line-height:60px;}
.top_search_ul li{float:left;}
.top_search_ul li.range_wrap{float:right; margin-right:0px;}
.top_search_ul li > select{border:1px solid #ddd; height:35px; margin-right:10px; cursor:pointer;}
.top_search_ul li input{width:400px;height:32px; padding-left:10px; line-height:31px; border:1px solid #ddd; float: left; margin-top: 14px;}
.search_btn{ height: 35px;line-height: 31px; background: #f94148; color: #fff; float: left; width: 100px; margin-left: 5px;margin-top: 14px;}

.review_header{text-align:center; color:#333; overflow:hidden; border-bottom:1px solid #333; padding:60px 0px 70px; box-sizing: border-box;}
.review_header .detail_title{font-size:2rem; font-weight: 700;}
.review_content{text-align:center; padding:50px 30px; color:#000; border-bottom:1px solid #000;}

.detaili_write_info{text-align:center;color:#7e7e7e; overflow:hidden;display: flex;justify-content: center;}
.detaili_write_info li{float:left; position:relative; padding-right:3px; margin:0px 5px;}
.detaili_write_info li::after{content:""; position:absolute; right:-6px; top: 5px; width:1px; height:15px; background:#7e7e7e;opacity:0.4;}
.detaili_write_info li:last-child::after{display:none;}

.listbtn_wrap{margin:25px 0px 110px; overflow:hidden;}
.listbtn{display:block; float:right; border:1px solid #333;  width:120px; height:35px; line-height:35px; text-align:center;}
.listbtn:hover{border:1px solid #f82c34; color:#f82c34}

.faq_table{width:1200px; margin:0px auto; overflow:hidden;}
.faq_head{height:50px; line-height:50px;}
.faq_head dl dt{text-align:center;  border-top:1px solid #000; border-bottom:1px solid #000}
dl dt.num{width:120px; float:left;}
dl dt.faq_title{width:1080px; float:left;}

.faq_content .faq_title{position:relative; cursor:pointer;display:flex; align-items:center;width:1080px;min-height: 60px; float:left; border-bottom:1px solid #e4e4e4; }
.faq_content .faq_con{display:none; clear:both; background:#f9f9f9; color:#808080; padding:30px 10px 30px 118px;border-bottom:1px solid #e4e4e4; }
.faq_content li{position:relative; min-height:62px;}
.faq_content .faq_title::after{content:"\e93b"; transform: rotate(270deg); position:absolute; top:23px; right:21px; font-size:17px; color:#bcbcbc; font-family: xeicon !important;}
.faq_content .faq_title.on::after{ transform: rotate(90deg);}
.faq_content .num{display:flex; align-items:center; justify-content: center; text-align: center;width:120px;min-height:60px; float:left; border-bottom:1px solid #e4e4e4;}

.qna_wrap{position:relative; width:1200px; height:0; margin:0px auto; background:url("../img/sub/inquire_btn.jpg")no-repeat; background-size:100%; padding-top:calc(130 / 1200 * 100%);}
.qna_wrap .qnabtn{position: absolute;  width:200px; height:50px;text-align: center;line-height:50px; font-size: 19px; background: #f82c34;color: #fff;right: 47px;top: 42px;}


.qna_top_title{text-align:center; background:#efefef; font-weight:500; padding:10px 0px; margin-bottom:30px;}
.font_red{color:#f82c34}
a.qna_write_btn{display:block; width:256px; height:60px; line-height:60px; font-size:18px; background:#f82c34; color:#fff; text-align: center; margin:50px auto;}
.sub_content .pr_title.qnadetail{height:45px;margin: 75px 0px 0px; border-bottom:none; color:#000;font-size:1.8rem;font-weight:600;}
.cs_table{width:1200px; }
.cs_table tr{border-bottom:1px solid #ddd; height:65px; line-height:65px;}
.cs_table th{font-weight: 700; text-align:center; color:#000; cursor: default;}
.cs_table th.write_title{text-align:left;}
.cs_table tr input{width:100%; height:40px; border:1px solid #ddd; box-sizing: border-box;}
.cs_table tr td{position:relative;}
.cs_table tr select.qna_choice{width:100%; height:40px; border:1px solid #ddd;}
.cs_table tr.write_content{height:300px;}
.cs_table tr.write_content textarea{width:100%;height:395px;box-sizing: border-box;border: 1px solid #ddd; padding:10px;margin: 25px 0px; font-family:'Noto Sans KR'; font-size:15px;}
.review_content p{clear: both;}
.filedown{position:relative; color:#999; float:right; cursor:pointer; }
.filedown::before{content:"\ea7f";position:absolute; left:-26px;color: #999;font-family: xeicon !important;transform: rotate(21deg); font-size: 18px; top:3px;}
.filedown:hover{text-decoration: underline;cursor: pointer;}
.file_upload{overflow:hidden; position:absolute; top:10px; }
.file_upload .select_btn {display: block; cursor:pointer; float:left;width:167px; height:40px; line-height:40px; font-size: 1.2rem;text-align: center;background: #e8e8e8;}
.file_upload #img_file {display: none;}
.file_upload #upload_file_name {display: block;float:left;background:#fff;color:#999; border:1px solid #ddd;font-size:1.1rem;padding:0px 18px;width:793px;height:40px;box-sizing:border-box;}
.btnwrap{margin:40px auto; width:100%; text-align: center;}
.btnwrap button{width:200px; height:50px; line-height:50px; font-size:1.4rem;  }
.btnwrap button.cancelbtn{border:1px solid #f82c34; color:#f82c34; margin-right:10px;}
.btnwrap button.cancelbtn a{display:block; color:#f82c34;}
.btnwrap button.submitbtn{background:#f82c34; color:#fff}
.no_write{height:130px;line-height:130px; font-size:18px;}